.main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  padding: 80px;
  font-family: var(--font-geist-sans);
}

.content {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  .button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;

    transition: all 0.2s ease-in-out;

    &:hover {
      background-color: #000;
    }
  }
}