.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);

  img {
    display: block;
    max-width: 400px;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 1;
    aspect-ratio: 1/1;
  }

  ol {
    font-family: var(--font-geist-mono);
    padding-left: 0;
    margin: 0;
    line-height: 24px;
    letter-spacing: -0.01em;
    list-style-position: inside;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}